{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
<div id="loginmain">

<h1>{% trans "Login" %}</h1>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

    <input autofocus="autofocus" class="form-input" maxlength="30" name="login" placeholder="Username or Email" type="text" required /><br>
    <input class="form-input" name="password" placeholder="Password" type="password" required /><br>
    <input id="id_remember" class="form-checkbox" name="remember" type="checkbox" /><label class="form-checkbox-label" for="id_remember">Remember Me</label><br>

  {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="form-button" type="submit">{% trans "Login" %}</button>


<p id="forgotpassword"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></p>
<p id="createaccount">{% blocktrans %} <a href="{{ signup_url }}" >Click here to create an account</a>{% endblocktrans %}</p>



</div>
{% endblock %}
