{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="pageheader">Password Change</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        <p><label class="form-input-label" for="id_oldpassword">Current Password:</label><br><input class="form-input" id="id_oldpassword" name="oldpassword" size="30" placeholder="Current Password" type="password" /></p>{{ form.oldpassword.errors }}
        <p><label class="form-input-label" for="id_password1">New Password:</label><br><input class="form-input" id="id_password1" name="password1" size="30" placeholder="New Password" type="password" /></p>{{ form.password1.errors }}
        <p><label class="form-input-label" for="id_password2">New Password (again):</label><br><input class="form-input" id="id_password2" name="password2" size="30" placeholder="New Password (again)" type="password" /></p>{{ form.password2.errors }}

        <button type="submit" class="form-button">{% trans "Update My Password" %}</button>
    </form>
{% endblock %}
