/* BASE STYLING */

@font-face {
    font-family: 'Gotham-Thin';
    src: url('../fonts/gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/Gotham-Thin.woff') format('woff'),
         url('../fonts/gotham/Gotham-Thin.ttf')  format('truetype'),
         url('../fonts/gotham/Gotham-Thin.svg#svgFontName') format('svg');
    }
body {
    background-image: url("../images/backgroundcom.jpg");
	margin: 0;
	padding: 0;
    min-width: 717px;
}
#header {
	font-family: Gotham-Thin;
	height: 55px;
	width: 100%;
	color: black;
	background-color: #1e528a;
}
#logo {
	margin-top: 11px;
	margin-left: 20px;
	color: white;
	width: 101px;
	height: 33px;
}
.link {
	list-style-type: none;
	display: inline;
	font-size: 16px;
	cursor: pointer;
}
.link a {
	text-decoration: none;
	color: #ebebee;
	float: right;
	margin-top: 18px;
	margin-right: 9px;
    margin-left: 9px;
}
.link a:hover {
	border-bottom: 2px solid white;
}
#footer {
    padding-top: 50px;
    list-style-type: none;
    font-weight: bold;
    font-family: Gotham-Thin;
    font-size: 14px;
    width: 100%;
    height: 130px;
    text-align: center;
}
#footer li {
    list-style-type: none;
    cursor: pointer;
    color: #454545;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
#footer li a {
    text-decoration: none;
    color: #444444;
}
#footer li a:hover {
    color: #fffdff;
}
#footer div {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
}
#quicksearch {
    font-family: Gotham-Thin;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}
.pageheader {
    font-family: Gotham-Thin;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

/* INDEX STYLING */

#information {
    width: 1200px;
    margin: auto;
    text-align: center;
}
.information-div {
    display: inline-block;
}
.information-div p {
    font-family: Gotham-Thin;
    font-weight: 900;
    font-size: 19px;
    color: #5c5c5c;
}
#information img {
    width: 135px;
    height: 135px;
    margin: auto;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 80%;
    transition: opacity 0.5s ease-out;
}
#information img:hover {
    opacity: 0.7;
}
.ad-alert {
    width: 728px;
    height: 90px;
    background: #cccccc;
    background-image: url("../images/random-alert.png");
    margin: auto;
    margin-top: 30px;
}

/* DROPDOWN STYLING */

.link-drop {
    cursor: default;
    position: relative;
    list-style-type: none;
    display: inline;
    font-size: 16px;
    display: inline-block;
    float: right;
    margin: auto;
    text-align: center;
}
.link-drop li {
    list-style-type: none;
}
.link-drop a {
    text-decoration: none;
    color: #ebebee;
    float: right;
    margin-top: 18px;
    margin-right: 9px;
    margin-left: 9px;
    list-style-type: none;
}
.link-drop-ul {
    display: none;
    position: absolute;
    width: 122px;
    text-align: center;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    padding: 0;
    margin: 0;
    left: 50%;
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    top: 100%;
    padding-top: 25px;
}
.link-drop-box {
    padding-bottom: 1px;
    padding-top: 1px;
    background-color: white;
    box-shadow: 0px 0px 38px -10px black;
    border-radius: 5px;
    margin: auto;
}
.triangle {
    width: 0;
    height: 0;
    position: relative;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    left: 50%;
    margin-left: -8px;
}
.link-drop-ul li {
    margin-top: 15px;
    margin-bottom: 15px;
}
.link-drop-ul li a {
    color: black;
    float: none;
}
.link-drop-ul li a:hover {
    color: #d1d1d1;
}
.link-drop:hover > .link-drop-ul {
    display: block;
    position: absolute;
}

/* FORM STYLING */

.form-input {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 38px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-textarea {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 200px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-input-split {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 38px;
    width: 225px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-button {
    height: 40px;
    width: 505px;
    border-radius: 6px;
    background-color: #454648;
    border: 1px solid #838384;
    font-size: 15px;
    color: white;
	margin-top: 10px;
    cursor: pointer;
    font-family: Gotham-Thin;
}
.form-checkbox {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 20px;
    width: 50px;
    margin-left: 5px;
}
.form-input-label {
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
}
.split-p-left {
    float: left;
    padding-right: 25px;
    margin-top: 0;
}
.split-p-right {
    float: left;
    padding-left: 25px;
    margin-top: 0;
}
.form-optional-tag {
    font-weight: normal;
    font-size: 12px;
}
form ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    color: #96001a;
    font-weight: bold;
    text-align: center;
}

/* QUICK SEARCH STYLING */

.qs-form-input {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 60px;
    width: 300px;
    border-radius: 4px;
    font-size: 22px;
    font-family: Gotham-Thin;
    font-weight: bold;
    text-indent: 10px;
}
.qs-form-input option {
    font-family: arial;
    font-size: 15px;
}
.qs-form-button {
    height: 45px;
    width: 190px;
    border-radius: 3px;
    background-color: #b3b4b6;
    border: 1px solid #9e9e9f;
    font-size: 15px;
    color: white;
	margin-top: 35px;
    cursor: pointer;
    font-family: Gotham-Thin;
}
.qs-form-button:hover {
    background-color: #a7a8a9;
}
/* SIGNUP PAGE */
#signupmain {
    margin: 0 auto;
    width: 505px;
    font-family: Gotham-Thin;
}
#signupmain ul {
    list-style-type: none;
}
#signupmain h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

/* LOGIN PAGE */

#loginmain {
	margin-top: 75px;
	text-align: center;
    font-family: Gotham-Thin;
}
#loginmain h1 {
   font-size: 45px;
   margin-bottom: 5px;
}
#loginmain ul {
    list-style-type: none;
}
#forgotpassword {
    font-size: 15px;
}
#forgotpassword a {
	text-decoration: none;
	color: black;
}
#forgotpassword a:hover {
	color: blue;
}
#createaccount {
    text-decoration: none;
    font-size: 15px;
}
#createaccount a {
	text-decoration: none;
	color: black;
}
#createaccount a:hover {
	color: blue;
}

/* CREATE JOB LISTING PAGE */

#createjoblisting {
    width: 505px;
    margin: 0 auto;
    font-family: Gotham-Thin;
}
#createjoblisting ul {
    list-style-type: none;
}
.form-contact-split {
    display: inline;
}
.form-contact-split select {
    width: 60px;
}
.form-contact-split input {
    margin-left: 15px;
    width: 425px;
}

/* FORGOT PASSWORD STYLING */

#passwordreset {
    width: 505px;
    margin: auto;
    font-family: Gotham-Thin;
}
#passwordreset li {
    list-style-type: none;
}

/* ABOUT PAGE */

.about-divider {
    padding-top: 0px;
    height: 130px;
    width: 100%;
    background-color: #ebebeb;
}
.about-divider h1 {
    margin: 0;
    color: #161616;
    font-family: Gotham-Thin;
    padding-top: 43px;
    text-align: center;
}
.about-section-1 {
    text-align: center;
    padding-top: 50px;
    font-family: Gotham-Thin;
    height: 250px;
    line-height: 25px;
    min-width: 928px;
}
.about-section-1 table {
    margin: auto;
}
.about-section-1 table td {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-1 {
    font-weight: bold;
}

/* JOB LISTINGS PAGE */
.browser-aligner {
    width: 1100px;
    margin: auto;
}
.browser-wrapper {
    display: inline-block;
}
.joblistings {
    width: 700px;
    font-family: Gotham-Thin;
    font-size: 18px;
    display: inline-block;
    margin-left: 30px;
    text-align: left;
}
.joblistings a {
    text-decoration: none;
    color: black;
}
.listings-item {
    min-width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border: 1px solid #cacaca;
}
.listings-item:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
.joblistings ul {
    list-style-type: none;
}
.listing-title {
    font-weight: bold;
    font-size: 20px;
}
.jobcounter {
    text-align: right;
    font-style: italic;
    font-family: Gotham-Thin;
}
.searchrefiner {
    text-align: center;
    margin-top: 5px;
    width: 280px;
    height: 675px;
    background-color: #1e528a;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    border-radius: 3px;
    opacity: 0.85;
}
.searchrefiner-title {
    font-family: Gotham-Thin;
    font-size: 30px;
    margin-bottom: 15px;
    color: #c8c8c8;
}
.searchrefiner-field-title {
    text-align: left;
    font-family: Gotham-Thin;
    color: #e5e5e5;
    margin-top: 0px;
    margin-bottom: -15px;
    margin-left: 30px;
}
.qsm-form-input {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 40px;
    width: 225px;
    border-radius: 4px;
    font-size: 17px;
    font-family: Gotham-Thin;
    font-weight: bold;
    text-indent: 10px;
}
.qsm-form-input option {
    font-family: arial;
    font-size: 15px;
}
.qsm-form-button {
    height: 45px;
    width: 190px;
    border-radius: 3px;
    background-color: #6d6e70;
    font-size: 16px;
    color: white;
	margin-top: 35px;
    cursor: pointer;
    font-family: Gotham-Thin;
    border: 1px #606163 solid;
}
.qsm-form-button:hover {
    background-color: #808080;
}
/* FEATURE NOT IMPLEMENTED PAGE */

.feature {
    display: block;
    margin: auto;
    margin-top: 70px;
}

/* PASSWORD CHANGE PAGE */

.password_change {
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .about-section-1 {
    font-size: 15px;
  }
}
@media (max-width: 960px) {
  .qs-form-input {
    width: 250px;
  }
}
@media (max-width: 789px) {
  .qs-form-input {
    width: 200px;
  }
}

/* VIEW LISTINGS PAGE */

.listing-content {
    margin: auto;
    width: 1000px;
    min-height: 600px;
    text-align: center;
    margin-top: 35px;
    display: flex;
}
.listing-wrapper {
    height: 750px;
}
.listing-title-secondary {
    font-family: Gotham-Thin;
    font-size: 45px;
    margin-top: 50px;
    border-bottom: 1px solid #545455;
    padding-bottom: 5px;
}
.listing-left-column {
    margin-top: 20px;
    padding-left: 15px;
    margin-right: 30px;
    width: 250px;
    border: 1px solid #545455;
    border-radius: 1px;
    font-family: Arial;
    background-color: #e8e8e8;
    opacity: 0.8;
}
.listing-right-column {
    margin-top: -35px;
    height: 35px;
    text-align: left;
    margin-left: 30px;
    width: 650px;
}
.listing-details-title {
    font-family: Gotham-Thin;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.listing-job-description {
    font-family: arial;
    line-height: 22px;
    min-height:284px;
}
.listing-details-bold {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
.listing-details-info {
    font-size: 14px;
    text-align: left;
}
.listing-details-button {
    margin-right: 17px;
    margin-bottom: 25px;
    height: 55px;
    width: 200px;
    border-radius: 6px;
    background-color: #1e528a;
    border: 1px solid #838384;
    font-size: 17px;
    color: white;
	margin-top: 10px;
    cursor: pointer;
    font-family: Gotham-Thin;
}
.listing-details-button:hover {
    background-color: #1d659d;
}
.listing-application {
    padding-left: 15px;
    margin-right: 30px;
    margin-top: 30px;
    width: 635px;
    height: 240px;
    border: 1px solid #545455;
    border-radius: 1px;
    font-family: Arial;
    background-color: #e8e8e8;
    opacity: 0.8;
}
.listing-application-bullets {
    font-family: arial;
    font-size: 15px;
    margin-right: 20px;
    line-height: 23px;
}
.listing-application-contact {
    text-align: center;
}
.listing-application-contact div{
    display: inline-block;
    margin-left: 75px;
    margin-right: 95px;
    margin-top: -10px;
}
.listing-application-bold {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
.listing-application-info {
    font-size: 14px;
    text-align: left;
}
.listing-email-link {
    text-decoration: none;
    color: white;
}
.view-counter-title {
    text-align: center;
    font-family: Gotham-Thin;
    margin-top: 30px;
    font-size: 14px;
}
.view-counter {
    margin: auto;
    margin-top: -10px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 25px;
    border: 1px solid #545455;
    border-radius: 3px;
    background-color: #f3f3f3;
    font-family: Arial;
    opacity: 0.8;
}
.view-counter p {
    margin-top: 5px;
    margin-left: 2px;
    letter-spacing: 2px;
}

/* CREDITS PAGE */

.creditsheader {
    font-family: Gotham-Thin;
    font-size: 45px;
    margin-top: 30px;
    margin-left: 20px;
}
.creditslinks {
    font-family: Arial;
}