/* BASE STYLING */

@font-face {
    font-family: Gotham-Thin;
    src: url('../fonts/gotham/Gotham-Thin.otf');
}
@font-face {
    font-family: BigNoodle;
    src: url('../fonts/big_noodle_titling.ttf');
}
@font-face {
    font-family: Bebes;
    src: url('../fonts/BebasNeue.otf');
}
body {
    background-image: url("../images/backgroundcom.jpg");
	margin: 0;
	padding: 0;
}
#header {
	font-family: Gotham-Thin;
	height: 55px;
	width: 100%;
	color: black;
	background-color: #1e528a;
}
#logo {
	margin-top: 11px;
	margin-left: 20px;
	color: white;
	width: 101px;
	height: 33px;
}
.link {
	list-style-type: none;
	display: inline;
	font-size: 16px;
	cursor: pointer;
}
.link a {
	text-decoration: none;
	color: #ebebee;
	float: right;
	margin-top: 18px;
	margin-right: 17px;
}
.link a:hover {
	border-bottom: 2px solid white;
}
.link a:active {
	border-bottom: 2px solid white;
}
#footer {
    padding-top: 50px;
    list-style-type: none;
    font-weight: bold;
    font-family: Gotham-Thin;
    font-size: 12px;
    width: 100%;
    height: 130px;
    text-align: center;
}
#footer li {
    list-style-type: none;
    cursor: pointer;
    color: #454545;
    margin-top: 8px;
    margin-bottom: 8px;
}
#footer li a {
    text-decoration: none;
    color: #444444;
}
#footer li a:hover {
    color: #fffdff;
}
#footer div {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    display: inline-block;
}
#quicksearch {
    font-family: Gotham-Thin;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}
.pageheader {
    font-family: Gotham-Thin;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}
/* FORM STYLING */

.form-input {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 38px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-textarea {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 200px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-input-split {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 38px;
    width: 225px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-button {
    height: 40px;
    width: 505px;
    border-radius: 6px;
    background-color: #454648;
    border: 1px solid #838384;
    font-size: 15px;
    color: white;
	margin-top: 10px;
    cursor: pointer;
    font-family: Gotham-Thin;
}
.form-checkbox {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 20px;
    width: 50px;
    margin-left: 5px;
}
.form-input-label {
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
}
.split-p-left {
    float: left;
    padding-right: 25px;
    margin-top: 0;
}
.split-p-right {
    float: left;
    padding-left: 25px;
    margin-top: 0;
}
form ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    color: #96001a;
    font-weight: bold;
    text-align: center;
}
/* SIGNUP PAGE */
#signupmain {
    margin: 0 auto;
    width: 505px;
    font-family: Gotham-Thin;
}
#signupmain ul {
    list-style-type: none;
}
#signupmain h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

/* LOGIN PAGE */

#loginmain {
	margin-top: 75px;
	text-align: center;
    font-family: Gotham-Thin;
}
#loginmain h1 {
   font-size: 45px;
   margin-bottom: 5px;
}
#loginmain ul {
    list-style-type: none;
}
#forgotpassword {
    font-size: 15px;
}
#forgotpassword a {
	text-decoration: none;
	color: black;
}
#forgotpassword a:hover {
	color: blue;
}
#createaccount {
    text-decoration: none;
    font-size: 15px;
}
#createaccount a {
	text-decoration: none;
	color: black;
}
#createaccount a:hover {
	color: blue;
}

/* CREATE JOB LISTING PAGE */

#createjoblisting {
    width: 505px;
    margin: 0 auto;
    font-family: Gotham-Thin;
}
#createjoblisting ul {
    list-style-type: none;
}