/* BASE STYLING */

@font-face {
    font-family: Gotham-Thin;
    src: url('../fonts/gotham/Gotham-Thin.otf');
}
@font-face {
    font-family: BigNoodle;
    src: url('../fonts/big_noodle_titling.ttf');
}
@font-face {
    font-family: Bebes;
    src: url('../fonts/BebasNeue.otf');
}
body {
    background-image: url("../images/backgroundcom.jpg");
	margin: 0;
	padding: 0;
}
#header {
	font-family: Gotham-Thin;
	height: 55px;
	width: 100%;
	color: black;
	background-color: #1e528a;
}
#logo {
	margin-top: 11px;
	margin-left: 20px;
	color: white;
	width: 101px;
	height: 33px;
}
.link {
	list-style-type: none;
	display: inline;
	font-size: 16px;
	cursor: pointer;
}
.link a {
	text-decoration: none;
	color: #ebebee;
	float: right;
	margin-top: 18px;
	margin-right: 9px;
    margin-left: 9px;
}
.link a:hover {
	border-bottom: 2px solid white;
}
#footer {
    padding-top: 50px;
    list-style-type: none;
    font-weight: bold;
    font-family: Gotham-Thin;
    font-size: 12px;
    width: 100%;
    height: 130px;
    text-align: center;
}
#footer li {
    list-style-type: none;
    cursor: pointer;
    color: #454545;
    margin-top: 8px;
    margin-bottom: 8px;
}
#footer li a {
    text-decoration: none;
    color: #444444;
}
#footer li a:hover {
    color: #fffdff;
}
#footer div {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    display: inline-block;
}
#quicksearch {
    font-family: Gotham-Thin;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}
.pageheader {
    font-family: Gotham-Thin;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

/* DROPDOWN STYLING */

.link-drop {
	list-style-type: none;
	display: inline;
	font-size: 16px;
	cursor: pointer;
    list-style-type: none;
    display: inline-block;
    float: right;
}
.link-drop li {
    list-style-type: none;
}
.link-drop a {
	text-decoration: none;
	color: #ebebee;
	float: right;
	margin-top: 18px;
	margin-right: 9px;
    margin-left: 9px;
    list-style-type: none;
}
.link-drop-ul {
    display: none;
    position: absolute;
    text-align: center;
    padding-left: 0px;
    padding-top: 18px;
    -webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.link-drop-box-employer {
    padding-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 38px -10px black;
    border-radius: 5px;
    height: 130px;
    width: 122px;
}
.link-drop-box-student {
    padding-top: 9px;
    background-color: white;
    box-shadow: 0px 0px 38px -10px black;
    border-radius: 5px;
    height: 90px;
    width: 122px;
}
.triangle {
    width: 0;
	height: 0;
	position: relative;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	left: 50%;
	margin-left: -8px;
}
.link-drop-ul li {
    margin-top: 15px;
}
.link-drop-ul li a {
    color: black;
    float: none;
}
.link-drop-ul li a:hover {
    color: #d1d1d1;
}
.link-drop:hover > .link-drop-ul {
    display: block;
    position: absolute;
    padding-top: 55px;
    padding-left: 0px;
    margin-top: 10px;
}

/* FORM STYLING */

.form-input {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 38px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-textarea {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 200px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-input-split {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 38px;
    width: 225px;
    border-radius: 4px;
    font-size: 15px;
    text-indent: 10px;
}
.form-button {
    height: 40px;
    width: 505px;
    border-radius: 6px;
    background-color: #454648;
    border: 1px solid #838384;
    font-size: 15px;
    color: white;
	margin-top: 10px;
    cursor: pointer;
    font-family: Gotham-Thin;
}
.form-checkbox {
    margin-top: 10px;
    border: 1px solid #a8a8a9;
    background-color: #f1f1f1;
    height: 20px;
    width: 50px;
    margin-left: 5px;
}
.form-input-label {
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
}
.split-p-left {
    float: left;
    padding-right: 25px;
    margin-top: 0;
}
.split-p-right {
    float: left;
    padding-left: 25px;
    margin-top: 0;
}
form ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    color: #96001a;
    font-weight: bold;
    text-align: center;
}
/* SIGNUP PAGE */
#signupmain {
    margin: 0 auto;
    width: 505px;
    font-family: Gotham-Thin;
}
#signupmain ul {
    list-style-type: none;
}
#signupmain h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

/* LOGIN PAGE */

#loginmain {
	margin-top: 75px;
	text-align: center;
    font-family: Gotham-Thin;
}
#loginmain h1 {
   font-size: 45px;
   margin-bottom: 5px;
}
#loginmain ul {
    list-style-type: none;
}
#forgotpassword {
    font-size: 15px;
}
#forgotpassword a {
	text-decoration: none;
	color: black;
}
#forgotpassword a:hover {
	color: blue;
}
#createaccount {
    text-decoration: none;
    font-size: 15px;
}
#createaccount a {
	text-decoration: none;
	color: black;
}
#createaccount a:hover {
	color: blue;
}

/* CREATE JOB LISTING PAGE */

#createjoblisting {
    width: 505px;
    margin: 0 auto;
    font-family: Gotham-Thin;
}
#createjoblisting ul {
    list-style-type: none;
}

/* FORGOT PASSWORD STYLING */

#passwordreset {
    width: 505px;
    margin: auto;
    font-family: Gotham-Thin;
}
#passwordreset li {
    list-style-type: none;
}