{% extends "base.html" %}

{% block content %}
    <div class="about-divider">
        <h1>The Foundations</h1>
    </div>
        <div class="about-section-1">
            <table>
                <tr>
                    <td>
                        <p class="about-1">Formulated in late 2010, our teams vision has always been a student oriented website, built on the principles of connecting student to employer in the most convenient and functional way possible. Now 5 years in the making we are proud to bring you Opus Jobs,</p>
                    </td>
                    <td>
                        <p class="about-2">the leading website in student employee relations.  We believe that age is but a number and those with the diligence to search for work should not be disadvantaged by a lack of job finding mediums. As for employees, students are a readily available</p>
                    </td>
                    <td>
                        <p class="about-2">and hardworking resource that can be both equitable and efficient for the future of your business. Our sites convenience and ease of use has brought numerous satisfied employees and employers together, forming long lasting job opportunities, will you be next?</p>
                    </td>
                </tr>
            </table>
        </div>
    <div class="about-divider">
        <h1>How it Works</h1>
    </div>
{% endblock %}

