{% extends "base.html" %}

{% block content %}

    <h1 class="pageheader">Edit Your Job Listings</h1>

    <div class="joblistings">
    <p class="jobcounter">You have <b>{{ joblistings.count }}</b> listings available</p>
    {% if joblistings %}
            {% for joblisting in joblistings %}
                 <div class="listings-item">
                   <a href="{% url 'editlisting' joblisting.pk %}">
                   <ul>
                   <li class="listing-title">{{ joblisting.job_title }} - {{ joblisting.business_name }}</li>
                   <li>Region: {{ joblisting.get_business_address_suburb_display }}</li>
                   <li>Pay Rate: ${{ joblisting.pay_rate }}</li>
                   <li>Contact Method: {{ joblisting.contact_method }}</li>
                   </ul>
                   </a>
                 </div>
            {% endfor %}

    {% else %}
        <p>Oops! You have no editable Job Listings.</p>
    {% endif %}
    </div>
{% endblock %}