{% extends "base.html" %}

{% block content %}
<div id="createjoblisting">
    <h1 class="pageheader">Edit Your Job Listing</h1>
    <form class="createjoblisting" id="createjoblisting_form" method="post" action="{% url 'createjoblisting' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p> <label for="id_username" class="form-input-label">Job Title</label><br>
        {{ form.job_title }}<br><p>{{ form.job_title.errors }}
        <p><label for="id_username" class="form-input-label">Pay Rate</label><br>
        {{ form.pay_rate }}<br></p>{{ form.pay_rate.errors }}
        <p><label for="id_username" class="form-input-label">Employment Type</label><br>
        {{ form.employment_type }}<br><p>{{ form.employment_type.errors }}
        <p><label for="id_username" class="form-input-label">Job Description</label><br>
        {{ form.job_description }}<br><p>{{ form.job_description.errors }}
        <p><label for="id_username" class="form-input-label">Business Region</label><br>
        {{ form.business_address_region }}<br><p>{{ form.business_address_region.errors }}
        <p><label for="id_username" class="form-input-label">Business Suburb</label><br>
        {{ form.business_address_suburb }}<br><p>{{ form.business_address_suburb.errors }}
        <p><label for="id_username" class="form-input-label">Business Industry</label><br>
        {{ form.business_industry }}<br><p>{{ form.business_industry.errors }}
        <p><label for="id_username" class="form-input-label">Contact Number (Must provide either Contact Number or Email)</label><br>
        {{ form.telephone }}<br><p>{{ form.telephone.errors }}
        <p><label for="id_username" class="form-input-label">Email</label><br>
        {{ form.email }}<br><p>{{ form.email.errors }}
        <button type="submit" class="form-button">Update Job Listing</button>
    </form>
</div>
{% endblock %}